<h1>AutoExam</h1>
<p>...</p>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Signatures', new_signature_path %></li>
  <li><%= link_to 'Questions', new_question_path %></li>
</ul>