<h2>Evaluate Answer</h2>

<%= javascript_include_tag "webcam", "data-turbolinks-track" => true %>
<script src="app/assets/javascripts/webcam.js">
  Webcam.set({
      width: 320,
      height: 240,
      image_format: 'jpeg',
      jpeg_quality: 90
  });
  Webcam.attach('#web_cam');

  function take_image(){
      var data_uri = WebCam.snap();
      document.getElementById('results').innerHTML =
          '<h2> Here is your image </h2>' +
              '<img src="'+data_uri+'"/>';
  }
</script>

<div id="results"></div>
<div id="web_cam"></div>
<form>
  <input type="button" value="Take Photo" onclick="take_image">
</form>