<head>
  <script src="webcam.js"></script>
</head>

<body>
  <h2>Evaluate Answer</h2>
  <br/>
  <h3>Exam: <%= @exam.title %></h3>
  <h4>Signature: <%= @exam.signature.name %></h4>
  <h4>Version: </h4>
  <br/>
  <p>Put the answer in front of the camera</p>

  <div id="my_camera" style="width:640px; height:480px;"></div>

  <script language="JavaScript">
      Webcam.attach( '#my_camera' );

      Webcam.set({
          width: 640,
          height: 480,
          dest_width: 1280,
          dest_height: 760,
          image_format: 'jpeg',
          jpeg_quality: 90,
          force_flash: false
      });

      function take_snapshot() {
          Webcam.snap( function(data_uri) {
              var binary = atob(data_uri.split(',')[1]);
              // Create 8-bit unsigned array
              var array = [];
              for(var i = 0; i < binary.length; i++) {
                  array.push(binary.charCodeAt(i));
              }
              // Return our Blob object
              var blob = new Blob([new Uint8Array(array)], {type: 'image/png'});
              var fd = new FormData();
              // Append our Canvas image file to the form data
              fd.append("image", blob);
              fd.append("version", <%= params['version'] %>)
              // And send it
              $.ajax({
                  url: "<%= url_for(:action => 'scan_answer') %>",
                  type: "POST",
                  data: fd,
                  processData: false,
                  contentType: false,
              });
          } );
      }
  </script>
  <br/>
  <a href="javascript:void(take_snapshot())" class="btn btn-primary">Take Snapshot</a>
</body>