<head>
</head>

<body>
  <script type="text/javascript" src="../../assets/javascripts/webcam.min.js"></script>

  <script language="JavaScript">
      Webcam.set({
          width: 320,
          height: 240,
          image_format: 'jpeg',
          jpeg_quality: 90
      });
      Webcam.attach('#web_cam');
  </script>

  <h2>Evaluate Answer</h2>

  <div id="results"></div>
  <div id="web_cam"></div>
  <form>
    <input type="button" value="Take Photo" onclick="take_image">
  </form>
</body>


<script>
    function take_image(){
        var data_uri = WebCam.snap();
        document.getElementById('results').innerHTML =
            '<h2> Here is your image </h2>' +
            '<img src="'+data_uri+'"/>';
    }
</script>